.boderBT0px {
    border-bottom: 0px solid #ddd !important;
  }
  .view-head {
    background: white;
    text-align: center;
    font-family: poppins;
    font-size: 1.5rem;
    padding: 10px 0px 10px 0px;
  }
  