<div class="login-container">
  <div class="header">
    <div class="title">Login to continue to Zebull</div>
  </div>
  <div class="mpin-container">
    <div class="input-container">
      <div class="input-label-container">
        <label for="userId" class="input-label">USER ID</label>
        <div class="edit-label" (click)="onEditUserID()">Edit</div>
      </div>
      <input autocomplete="username" class="input-element" type="text" placeholder="Enter User ID"
        [(ngModel)]="userInfo.userId" name="userId" disabled />
    </div>
    <div class="input-container">
      <div class="input-label-container">
        <label for="mpin" class="input-label">M-PIN</label>
      </div>
      <input class="input-element" type="password" placeholder="Enter M-PIN" [(ngModel)]="userInfo.mpin" name="mpin" />
    </div>
    <div class="error-msg" *ngIf="errorData.IsError">
      {{errorData.ErrorMsg}}
    </div>
  </div>
  <div class="action-container">
    <div class="action-link" (click)="navigate('/login/mpin/forgot')">Forgot mpin?</div>
    <button class="action-button" type="button" (click)="onSubmit()">
      SIGN IN
    </button>
  </div>
</div>