nav {
  text-align: center;
  background: #1e3465;
  color: #fff;
  padding: 7px 0 7px 0;
  font-size: 16px;
  text-transform: capitalize;
}

.closebtn {
  padding: 3px 5%;
  text-align: right;
}

.number {
  padding: 0;
  margin: 0;
  border: none;
  position: inherit;
}

.scrip-head {
  font-weight: bold;
  padding: 1% 5%;
}
