.pers-head {
    font-size: 14px;
    padding: 1% 0;
    font-weight: 600;
    padding: 1% 0;
    margin: 0.5% 0 0.4% 0px;
  }
  .header{
    padding-left: 30px;
  }
  .input-regist {
    margin-top: 40px;
  }
  input[type="text"], input[type="number"] {
    border: #ddd solid 0px !important;
    border-bottom: 1px solid #1f3556 !important;
    padding: 0 0px 0 0px !important;
    font-size: 13px;
    width: 55%;
}

::placeholder {
    color: #1f3556;
  }

  .cancelbtn{
    background-color: #fff;
    color: #1f3556;
    border: 1px solid #1f3556;
    font-size: 13px;
    border-radius: 2px;
    width: 45%;
    line-height: 26px !important;
}

  .resetbtn{
    background-color: #1f3556;
    color: #fff;
    border-radius: 2px;
    font-size: 13px;
    width: 45%;
    line-height: 28px !important;
    }

    .lef {
        color: #1F3565;
      }
      
      .rig {
        color: #444244;
        font-size: 12px;
        font-weight: 600;
      }
