<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  header">
  <div class="pers-head">RESET PASSWORD:</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <form [formGroup]="passReset"> 


      <div class="" style="margin-top: 10px;">
        <input type="text" placeholder="Current Password" formControlName="oldPass" minlength="1" maxlength="50" id="oldPass" required />
      </div>
      <div class="input-regist">
        <input type="text" placeholder="New Password" formControlName="newPass" minlength="1" maxlength="100" required />
      </div>
      <div class="input-regist">
        <input type="text" placeholder="Confirm Password" formControlName="confPass" minlength="1" maxlength="50" required />
      </div>
      <div style="color: red;font-size: 13px;margin-top: 10px;">
        {{notOKstat}}
      </div>
      <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7" style="margin-top: 45px;text-align: end;">
        <button mat-raised-button class="cancelbtn"
          (click)="goToResetPassword()">CANCEL</button>&nbsp;
          <button mat-raised-button class="resetbtn" (click)="resetNow()">RESET</button>
      </div>
      <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5" style="margin-top: 45px;">

      </div>
    </form>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div style="margin-top: 10px; margin-bottom: 17px;">
      <p style="font-size: 13px;color: #1f3556;">PASSWORD POLICY:</p>
    </div>
    <div style="text-align: left; font-size: 11px;">
      <p style="font-size: 11px;">Password should be alphanumeric</p>
      <p style="font-size: 11px;">Password should be at least 6 characters and maximum 12 characters</p>
      <p style="font-size: 11px;">Password should not be the same as your User/Login ID</p>
      <p style="font-size: 11px;">Password should not be the same as your last 3 passwords.</p>
      <p style="font-size: 11px;">For extra safety, it is recommended that you use a special character in
        the
        password</p>
      <p style="font-size: 11px;">For security purposes, login password will expire every 14 days and will
        need to be reset by you.
      </p>
    </div>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  header" style="margin-top: 45px;">
  <div class="pers-head">RESET 2 FACTOR AUTHENTICATION:</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px;">
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 marginTop">
  <span class="lef">SECURITY QUESTIONS</span>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 marginTop">
  <span class="rig">**********</span>
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 marginTop">
  <span class="lef">
        <mat-icon aria-hidden="false">edit</mat-icon>
  </span>
</div>  
</div>