<div class="login-container">
  <div class="header">
    <div class="title">M-PIN</div>
    <div class="sub-title">
      Set a numeric 6 digit PIN. This requires for login after entering passwords
    </div>
  </div>
  <div class="confirm-mpin-container">
    <div class="input-container">
      <div class="input-label-container">
        <label for="mpin" class="input-label">M-PIN</label>
      </div>
      <input autocomplete="new-password" class="input-element" type="password" placeholder="Enter M-PIN"
        [(ngModel)]="userInfo.mpin" name="mpin" />
    </div>
    <div class="input-container">
      <div class="input-label-container">
        <label for="confirmMpin" class="input-label">Re-enter M-PIN</label>
      </div>
      <input autocomplete="new-password" class="input-element" type="password" placeholder="Re-Enter M-PIN"
        [(ngModel)]="userInfo.confirmMpin" name="confirmMpin" />
    </div>
    <div class="error-msg">{{errorMsg}}</div>
  </div>
  <div class="action-container">
    <div class="action-link" (click)="navigate('/login')">Back to login?</div>
    <button class="action-button" type="button" (click)="onIdentifierSubmit()">
      Next
    </button>
  </div>
</div>