<div class="login-container">
  <div class="header">
    <div class="title">Login to Zebull</div>
  </div>
  <div class="password-container">
    <div class="input-container">
      <div class="input-label-container">
        <label for="userId" class="input-label">USER ID</label>
        <div class="edit-label" (click)="onEditUserID()">Edit</div>
      </div>
      <input autocomplete="username" class="input-element" type="text" placeholder="Enter User ID"
        [(ngModel)]="userInfo.userId" name="userId" disabled />
    </div>
    <div class="input-container">
      <div class="input-label-container">
        <label for="password" class="input-label">Password</label>
      </div>
      <input autocomplete="current-password" class="input-element" type="password" placeholder="Enter password"
        [(ngModel)]="userInfo.password" name="password" />
    </div>
    <div class="error-msg" *ngIf="errorData.IsError">
      {{errorData.ErrorMsg}}
    </div>
  </div>
  <div class="action-container">
    <div class="action-link" (click)="navigate('/login/password/reset')">Forgot password?</div>
    <button class="action-button" type="button" (click)="validateUser()">
      Next
    </button>
  </div>
  <div class="footer">
    <div class="action-link" (click)="navigate('/login/unblock')">
      Unblock account
    </div>
  </div>
</div>