<div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  header">
    <div class="pers-head">CUSTOMER SUPPORT</div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 marginTop">
      <span class="lef">PHONE</span>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 marginTop">
      <span class="rig">
        +91 93801 08010
      </span><br>
      <span class="rig">
        +91-44 4855 7991
      </span>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 marginTop">
      <span class="lef">MAIL ASSIST</span>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 marginTop">
      <span class="rig">
        assist@zebuetrade.com
      </span>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 marginTop">
      <span class="lef">GRIEVANCE</span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 marginTop">
      <span class="rig">grievance@zebuetrade.com</span>
    </div>
  </div>


  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  header" style="padding-left: 0px !important;">
    <div class="pers-head">
      <a class="support-zebu cls_trade" aria-hidden="true" href="http://www.zebuetrade.com/" target="_blank"></a>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margintop10">
      <span class="lef">ZEBU SHARE AND WEALTH MANAGEMENTS PRIVATE LIMITED</span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margintop10">
      <span class="lef">SEBI Registration No: INZ000174634</span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margintop10">
      <span class="lef">CDSL: 12080400</span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margintop10">
      <span class="lef">AMFI ARN: 113118</span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margintop10">
      <span class="lef">Research Analyst: INH200006044</span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margintop10">
      <span class="lef">MCX member ID: 55730 | NSE member ID: 13179 </span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margintop10">
      <a class="support-fb" aria-hidden="true" href="https://www.facebook.com/zebuetrade" target="_blank"></a>
      <a class="support-youtube" aria-hidden="true" href="https://www.youtube.com/zebuetrade" target="_blank"></a>
      <a class="support-tweeter" aria-hidden="true" href="https://twitter.com/ZebuETrade" target="_blank"></a>
    </div>
  </div>
</div>