mat-toolbar {
  background: #1f3565;
  color: #fff;
}
p {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  border: 1px solid #1f3565;
  color: #1f3565;
  border-radius: 3px;
}
