:host {
  background-color: lightgray;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
}

.login-section {
  border: 1px solid lightgray;
  box-shadow: 0px 0px 15px 5px rgba(204, 202, 204, 0.5);
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  overflow-y: auto;
  .login-spinner {
    position: absolute;
    top: 0;
    left: 0;
  }
  @media all and (max-width: 480px), (max-device-height: 400px) {
    height: 100vh;
    width: 100vw;
  }
}

.info-section {
  background-color: #1f3565;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 240px;
  @media all and (max-width: 400px) {
    flex-direction: column-reverse;
    justify-content: center;
  }
  img {
    /*Support iPhone small devices like X*/
    @media all and (max-width: 400px) {
      margin: 10px 0;
    }
  }
}

.company-info {
  display: flex;
  flex-flow: column wrap;
  font-size: 10px;
  /*Support iPhone small devices like X*/
  @media all and (max-width: 400px), (max-device-height: 400px) {
    align-self: flex-end;
    margin: 10px 0;
  }
  .company-name {
    font-weight: 600;
    text-align: center;
  }
  .info-container {
    display: flex;
    flex-flow: column wrap;
    .info-line {
      text-align: center;
    }
  }
}

.title-section {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 10px 0;
  padding: 10px;
  @media all and (max-width: 400px) {
    margin: 5px;
  }
  @media all and (max-device-height: 400px) {
    margin: 0;
  }
  .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px 0;
  }
  .subtitle, .version {
    font-size: 12px;
    margin: 5px 0;
  }
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.option-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
  .item {
    border-right: 1px solid darkgray;
    font-size: 10px;
    padding: 2px 5px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border: none;
    }
    &:hover {
      color: white;
    }
  }
}

.input-section {
  background-color: white;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  .input-router-section {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 380px;
    width: 300px;
    overflow-y: auto;
    /*Support iPhone small devices like X*/
    @media all and (max-device-width: 400px), (max-device-height: 400px) {
      margin: 10px;
      min-height: 0;
    }
  }
}
