<section class="login-section">
  <mat-progress-bar class="login-spinner" mode="indeterminate" color="#1f3565" *ngIf="isLoading"></mat-progress-bar>
  <section class="info-section">
    <section class="title-section">
      <div class="title">{{ data.title }}</div>
      <div class="subtitle">{{ data.subtitle }}</div>
      <div class="version">{{ data.version }}</div>
    </section>
    <section class="company-info">
      <div class="company-name">{{data.company.name}}</div>
      <div class="info-container">
        <div class="info-line" *ngFor="let line of data.company.info">
          {{ line }}
        </div>
      </div>
    </section>
    <section class="footer">
      <div class="option-container">
        <div class="item" *ngFor="let option of data.options">
          {{ option }}
        </div>
      </div>
    </section>
  </section>
  <section class="input-section">
    <img src="../assets/images/zebull_logo.jpeg" alt="image">
    <section class="input-router-section"
      [@routeAnimations]="lo && lo.activatedRouteData && lo.activatedRouteData['animation']">
      <!--
        Nested routes to handle 
          - login, 
          - security questions, 
          - unblock and 
          - forgot password 
      -->
      <router-outlet #lo="outlet"></router-outlet>
    </section>
  </section>
</section>