:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login-section {
  background-color: #1f3565;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  overflow-y: auto;
  .login-spinner {
    position: absolute;
    top: 0;
    left: 0;
  }
  @media all and (max-width: 480px), (max-device-height: 400px) {
    height: 100vh;
    width: 100vw;
  }
}

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  @media all and (max-width: 400px) {
    flex-direction: column-reverse;
    justify-content: center;
  }
  img {
    /*Support iPhone small devices like X*/
    @media all and (max-width: 400px) {
      margin: 10px 0;
    }
  }
}


.company-info {
  display: flex;
  flex-flow: column wrap;
  font-size: 10px;
  color: darkgray;
  /*Support iPhone small devices like X*/
  @media all and (max-width: 400px), (max-device-height: 400px) {
    align-self: flex-end;
    margin: 10px 0;
  }
  .name {
    text-align: right;
  }
  .address-container {
    display: flex;
    flex-flow: column wrap;
    .address-line {
      text-align: right;
    }
  }
}

.title-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: lightgray;
  margin: 10px 0;
  @media all and (max-width: 400px) {
    margin: 5px;
  }
  @media all and (max-device-height: 400px) {
    margin: 0;
  }
  .title {
    font-size: 24px;
    text-transform: uppercase;
    margin: 5px 0;
  }
  .subtitle {
    font-size: 15px;
    text-transform: capitalize;
  }
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.feature-container, .option-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
  .item {
    border-right: 1px solid darkgray;
    color: darkgray;
    font-size: 10px;
    padding: 2px 5px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border: none;
    }
    &:hover {
      color: white;
    }
  }
}

.input-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  .input-router-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    min-height: 300px;
    width: 600px;
    overflow-y: auto;
    /*Support iPhone small devices like X*/
    @media all and (max-device-width: 400px), (max-device-height: 400px) {
      margin: 10px;
      min-height: 0;
    }
  }
}

.action-link-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  @media all and (max-width: 400px), (max-device-height: 400px) {
    min-height: 0;
  }
  /*Landscape*/
  @media all and (max-device-height: 400px) {
    flex-flow: row nowrap;
  }
  .action-link {
    color: darkgray;
    margin: 10px;
    text-decoration: underline;
    text-decoration-color: darkgray;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    /*Support iPhone small devices like X*/
    @media all and (max-width: 400px), (max-device-height: 400px) {
      margin: 5px ;
    }
    &:hover {
      color: white;
      border-color: white;
    }
  }
}
