<div class="login-container">
  <div class="header">
    <div class="title">UNBLOCK ACCOUNT</div>
  </div>
  <div class="unblock-container">
    <div class="input-container">
      <div class="input-label-container">
        <label for="userId" class="input-label">USER ID</label>
      </div>
      <input autocomplete="username" class="input-element" type="text" placeholder="Enter User ID"
        [(ngModel)]="userInfo.userId" name="userId" />
    </div>
    <div class="input-container">
      <div class="input-label-container">
        <label for="pan" class="input-label">PAN</label>
      </div>
      <input class="input-element" type="text" placeholder="Enter PAN" [(ngModel)]="userInfo.pan" name="pan" />
    </div>
    <div class="input-container">
      <div class="input-label-container">
        <label for="email" class="input-label">EMAIL ID</label>
      </div>
      <input autocomplete="email" class="input-element" type="text" placeholder="Enter Email ID"
        [(ngModel)]="userInfo.email" name="email" />
    </div>
    <div class="error-msg" *ngIf="errorData.IsError">
      {{errorData.ErrorMsg}}
    </div>
  </div>
  <div class="action-container">
    <div class="action-link" (click)="navigate('/login/')">Back to login?</div>
    <button class="action-button" type="button" (click)="handleUnblock()">
      Unblock
    </button>
  </div>
</div>