// nav{
//     text-align:  center;
//     background: #1e3465;
//     color: #FFF;
//     padding: 7px 0 7px 0;
//     font-size: 16px;
// }

// .footer {
//     position: fixed;
//     padding: 7px 0 7px 0;
//     top: 360px;
//     width: 400px;
//     right: 195px;
//     text-align: center;
//  }

//  .closebtn{
//     text-align: end;
//     margin-right: 10px;
//  }
//  button{
//      border: 1px solid #ccc;
//      background: #fff;
//      color: #000;
//  }

.header{
    padding-left: 30px;
    // border-bottom: solid 1px #cccccc59;
  }
  .marginTop{
    margin: 15px 0px;
  }

  .lef {
    color: #1F3565;
  }
  
  .rig {
    color: #444244;
    font-size: 12px;
    font-weight: 600;
  }
  .pers-head {
    font-size: 14px;
    padding: 1% 0;
    font-weight: 600;
    padding: 1% 0;
    margin: 0.5% 0 0.4% 0px;
    // background: #9f9e9e1f;
  }