:host{
  flex: 1;
  display: inline-flex;
}

.login-container {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 280px;
  .header {
    .title {
      color: #1f3565;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .action-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .action-link {
      color: #1f3565;
      font-weight: 700;
    }
    .action-button {
      background-color: #1f3565;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 14px;
      font-weight: 700;
      text-transform: capitalize;
      letter-spacing: 2px;
      padding: 7px 30px;
    }
  }

  .footer{
    align-self: flex-end;
    .action-link {
      color: #1f3565;
      cursor: pointer;
      font-weight: 700;
      margin: 10px 0;
      text-transform: capitalize;
      transition: all 0.2s ease-in;
      /*Support iPhone small devices like X*/
      @media all and (max-width: 400px), (max-device-height: 400px) {
        margin: 5px ;
      }
    }
  }
}

.challenge-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  .input-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    margin: 2px 0;
    width: 100%;
    .input-label-container{
      align-self: flex-start;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .input-label, .edit-label {
        color: #1f3565;
        font-weight: 600;
      }
    }
    input {
      border: 1px solid darkgray;
      background-color: transparent;
      border-radius: 5px;
      color: #1f3565;
      box-sizing: border-box;
      margin: 2px 0;
      padding: 10px;
      width: 100%;
      transition: all 0.2s ease-in;
      /*Support iPhone small devices like X*/
      @media all and (max-width: 400px) {
        margin: 5px 0;
      }
      /*Landscape*/
      @media all and (max-device-height: 400px) {
        margin: 5px;
      }
      &::placeholder {
        color: darkgray;
      }
      &::-moz-placeholder {
        opacity: 1;
      }
      &:hover {
        border-color: #1f3565;
        &::placeholder {
          color: #1f3565;
        }
      }
      &:disabled {
        background: #ccc;
      }
    }
  }
  .error-msg {
    color: red;
    font-size: 10px;
    font-weight: 600;
  }
}

