<!doctype html>
<html>
<head>

<meta charset="utf-8" />
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="css/perfect-scrollbar.css" />
<link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/page-defaults.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/stx-chart.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/chartiq.css" media="screen" />
<link rel="stylesheet" type="text/css" href="examples/markers/markersSample.css" media="screen" />
<link rel="stylesheet" type="text/css" href="examples/markers/tradeAnalyticsSample.css" media="screen" />
<style>
	.left {
		height: 100%;
		position: absolute;
		width: 50%;
	}
	.right {
		left: 50%;
		height: 100%;
		position: absolute;
		width: 50%;
	}
</style>
<title>Multi Charts - Powered by ChartIQ</title>
</head>

<body>
	<!-- id is required for saving & restoring layout -->
	<div class="column left"><cq-instant-chart tmpl-src="examples/templates/partials/sample-template-advanced-context.html" id="chart0" symbol="AAPL"></cq-instant-chart></div>
	<div class="column right"><cq-instant-chart tmpl-src="examples/templates/partials/sample-template-advanced-context.html" id="chart1" symbol="MSFT"></cq-instant-chart></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script nomodule src="js/thirdparty/promise.min.js"></script>
<script nomodule src="js/thirdparty/@webcomponents/template.js"></script>
<script src="js/thirdparty/@webcomponents/custom-elements.min.js"></script>
<script src="js/thirdparty/@webcomponents/native-shim.js"></script>
<script src="js/thirdparty/html2canvas.js"></script>
<script src="js/thirdparty/perfect-scrollbar.jquery.js"></script>
<script src="js/chartiq.js"></script>
<script src="js/addOns.js"></script>
<script src="examples/feeds/quoteFeedSimulator.js"></script>
<script src="examples/feeds/symbolLookupChartIQ.js"></script>
<script src="examples/markers/markersSample.js"></script>
<script src="examples/markers/tradeAnalyticsSample.js"></script>
<script src="examples/markets/marketDefinitionsSample.js"></script>
<script src="examples/markets/marketSymbologySample.js"></script>
<script src="examples/translations/translationSample.js"></script>
<script src="js/componentUI.js"></script>
<script src="js/components.js"></script>
<script src="examples/templates/js/sample-template.js"></script>
</body>
</html>
